includes:
    - phpstan-baseline.neon

parameters:
    level: 1
    paths:
        - src
        - ajax
    excludePaths:
        # These files require classes from the optional "quiqqer/gdpr" package
        - src/QUI/Auth/Facebook/Cookies/*
        - src/QUI/Auth/Facebook/CookieProvider.php
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    tipsOfTheDay: false
    customRulesetUsed: true
services:
    -
        class: \PHPStan\Rules\Properties\TypesAssignedToPropertiesRule
        tags:
            - phpstan.rules.rule
