.quiqqer-authfacebook-registrar {
    float: left;
    height: 100%;
    width: 100%;
}

.quiqqer-authfacebook-registrar-btn {
    float: left;
    width: 100%;
}

.quiqqer-authfacebook__hidden {
    display: none;
}