.quiqqer-authfacebook-registrar-form {
    float: left;
    height: 100%;
    width: 100%;
}

.facebook-login p {
    text-align: center;
}

.facebook-login button {
    margin-top: 20px !important;
}

.quiqqer-auth-facebook-registration-popup {
    text-align: center;
}

.quiqqer-auth-facebook-registration-popup button {
    float: none !important;
}