.quiqqer-auth-facebook-login-btn,
.quiqqer-auth-facebook-login-btn:disabled,
.quiqqer-auth-facebook-login-btn:hover {
    background-color: #3a5794 !important;
    border-color: #3a5794 !important;
    color: #fff !important;
}

.quiqqer-auth-facebook-login-btn:disabled {
    cursor: not-allowed;
}

.quiqqer-auth-facebook-login-btn:hover {
    background-color: #1d386c !important;
    border-color: #1d386c !important;
    color: #fff !important;
}